# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Android Studio
AppCode
CLion
GoLand
IntelliJ IDEA
PhpStorm
PyCharm
RubyMine
WebStorm
DataGrip


.bzrignore (Bazaar)
.chefignore (Chef)
.cfignore (CloudFoundry)
.cvsignore (Cvs)
.boringignore (Darcs)
.deployignore (DeployHQ)
.distignore (WP-CLI)
.dockerignore (Docker)
.ebignore (ElasticBeanstalk)
.eleventyignore (Eleventy)
.eslintignore (ESLint)
.flooignore (Floobits)
ignore-glob (Fossil)
.gitignore (Git)
.gcloudignore (GoogleCloud)
.helmignore (Kubernetes Helm)
.jpmignore (Jetpack)
.jshintignore (JSHint)
.hgignore (Mercurial)
.mtn-ignore (Monotone)
.nodemonignore (Nodemon)
.npmignore (Npm)
.nuxtignore (NuxtJS)
.openapi-generator-ignore (OpenAPI Generator)
.p4ignore (Perforce)
.prettierignore (Prettier)
.ignore (Sourcegraph)
.stylelintignore (StyleLint)
.stylintignore (Stylint)
.swagger-codegen-ignore (SwaggerCodegen)
.terraformignore (Terraform)
.tfignore (TF)
.tokeignore (Tokei)
.upignore (Up)
.vercelignore (Vercel)
.yarnignore (Yarn)